# Variables y credenciales
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
env/

# Resultados generados
resultados/*.xlsx
!resultados/.gitkeep

# Editores
.vscode/
.idea/

# Sistemas operativos
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log