# Variables y credenciales locales
.env

# Archivos temporales de Python
__pycache__/
*.pyc

# Entornos virtuales
.venv/
venv/

# Archivos generados localmente
resultados/*.xlsx

# Permitir conservar la carpeta en Git
!resultados/.gitkeep